
<% @events.each do |event| %>
        <div class = "event">
                <%= event.eventype %>
              <%= event.location %>
                <%= event.date %>
                <%= link_to 'attend', attendees_path %> ,  <%= link_to 'delete event', '/destroy', method: :delete %>

        </div>
<%end%>

<%= link_to 'back', new_event_path %>