
<%=  render @event %>
<table class = "attendees" >
    <th> Attendees <%= attendees.count %></th>
    <% @attendees.each do |attend| %>
        <tr>
            <td><%= attend.username %></td>
            <td><%= attend.email  %></td>
            <td><%= link_to 'View profile', attendee %></td>
        </tr>
    <% end %>
</table>
